<form class="form-horizontal">
<h4>Search:<input type="text" ng-model="search_item"></input></h4>
 <h4>Order items by:<select  ng-model="order_item">
         <option value="">- Please Choose -</option>
         <option value="marked">Status</option>
         <option value="name">Item name</option>
    </select>
</h4>

  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">Select items to add to cart</label>
      <div class="col-lg-10">
        <div class="checkbox" ng-repeat="i in items | filter:search_item | orderBy:order_item">
          <label>
            <input type="checkbox" ng-model="i.marked">
            <ul class="list-group">
			<li class="list-group-item">
			<span class="badge">{{i.quantity}}</span>
			{{i.name|uppercase}}
			</li>
          </label>
        </div><br>
		<div class="panel panel-default">
		</div>
		<p><a href="#/cart" ng-click="generateList()">View Cart</a></p>
      </div>
    </div>
  </fieldset>
</form>

		
  <!-- <div class="panel-body">
    Total Price : {{totalPrice()|currency:"Rs."}}<br>
	<p ng-if="finalPrice<500">No Discount!</p>
	<p ng-if="finalPrice>=500 && finalPrice<1000">You get a discount of 15%</p>
	<p ng-if="finalPrice>=1000 && finalPrice<2000">You get a discount of 20%</p>
	<p ng-if="finalPrice>=2000">You get a discount of 30%</p>
  </div> -->